@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Data de Agora : @DateTime.Now </p>
    <h3>Edvaldo Dantas, vendo o seu primeiro deploy funcionando.</p>
</div>
